@font-face {
  font-family: "LINESeedJP_OTF_Bd";
  src: url("../font/LINESeedJP_OTF_Bd.woff") format("woff");
}

body {
  font-family: "LINESeedJP_OTF_Bd";
  margin: 0 auto;
  padding: -1px;
  min-height: 100vh;
  box-sizing: border-box;
}

.contents {
  display: flex;
  overflow: hidden;
}

.contents_main h1 {
  color: #cf352e;
  font-weight: bold;
}

.contents_main a {
  color: black;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.contents_main a:hover {
  cursor: pointer;
  color: #cf352e;
}

.contents_side {
  background-color: #cf352e;
  padding: 40px;
  margin-right: 20px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}

.contents_side a {
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.contents_side a:hover {
  cursor: pointer;
  color: #ffd7ba;
}

.main_picture img {
  margin: -20px;
  width: 170%;
  height: 250px;
  object-fit: cover;
}

.main_picture {
  height: 300px;
  position: relative;
}

.main_title p {
  position: absolute;
  color: white;
  top: 0%;
  left: 0%;
  font-size: 60px;
  font-weight: bold;
}
